@import "../__variables.scss";

.button-component-container {
    height: 42px;
    width: 140px;
    border: 1px solid $dark-grey;
    background: white;
    color: $dark-grey;
    border-radius: 0;
    margin: 8px;
    
    h3 {
        margin: 0;
    }
}