@import "../__variables.scss";

.carousel-component-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    
    .slider, .slider-frame, .slider-list, .slider-slide {
        height: 100% !important;
    }

    .image-container {
        height: 100%;
        width: 100%;
        
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    
    button { display: none; }
}