@import "../__variables.scss";

.design-project-component-container {
    
    @media #{$mobile} {
        width: 100%;
        overflow-x: hidden;
        padding: $border-thickness 0;
    }
    
    .banner-container {
        box-sizing: border-box;
        padding: $border-thickness;
        height: 100vh;
        
        @media #{$tablet} {
            height: 50%;
            padding: 0;
        }
        
        @media #{$mobile} {
            height: calc(100vh - #{$border-thickness});
            padding: 0;
        }
        
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    
    .project-details {
        display: flex;
        padding: 0 calc(2 * #{$border-thickness});
        
        @media #{$tablet} {
            flex-wrap: wrap;
            white-space: nowrap;
            padding: $border-thickness;
            & > div.description { margin: 0 !important; }
        }
        
        @media #{$mobile} {
            flex-direction: column;
            padding: 0 40px;
            
            & > * { margin-bottom: 20px; }
            
            .date { order: 1; }
            .role { order: 2; }
            .description { order: 3; }
            
            div.description {
                margin: 20px 0 40px 0;
                p { text-align: justify; }
            }
        }
    
        & > * {
            flex: 1;
            &:first-of-type { flex: 2; }
        }
        
        h3 { margin-bottom: 0px; }
        div.description {
            margin: 65px 0;
            min-width: 100%;
            p { white-space: normal; }
        }
        
        a { font-size: 16px; }
    }
    
    .project-images {
        z-index: 1;
        
        .carousel-container {
            height: 580px;
            @media #{$mobile} { height: 50vh; }
        }
        
        .images-container {
            padding: $border-thickness;
            @media #{$mobile} { padding: 0; }
            
            & > img {
                width: 100%;
                margin-top: calc(140px - #{$border-thickness});
                margin-bottom: 140px;
                @media #{$mobile} { margin: 40px 0 0 0; }
            }
            
            .row > img {
                width: 50%;
                flex: 1;
                height: 100%;
                object-fit: scale-down;
            }
        }
    }
}

.menu-toggle-container {
    @media #{$tablet} {
        background: none !important;
    }
}